body{
    background: #514f54;
    display: flex;
    justify-content: center;
    
}
.LoginBox{
    background-color: #4b4646;
    height: 600px;
    width: 30%;
    top: 200px;
    position: relative;
    border-radius: 15px;
    box-shadow: 2px 5px 25px   #069cfa;
}